
/*All styles reset*/
 /* Panel style*/


.popuptable 
{
    background-color: #FFFFFF;
    border: 3px solid #57A957;
    height: 100%;
    width: 100%;
}
.popuptable td
{
	padding:1px;
}
.popuptable td input
{
	width:172px;
	border:1px solid #A9A9A9;
}
.popuptable td select
{
	width:175px;
}
.popuppanel 
{
    background-color: #FFFFFF;
    width: auto;
}
.popuptr 
{
    background-color: #57A957;
}
.yui3-button {
    margin:10px;
    margin-left:10px;
    margin-right:10px;
}

.success{
    background-color:#57A957;
    color:white;
    height:30px;
    width:70px;
    
    font-weight:bold;
}

.buttoncss
{
	/*background-image: url(  '../Images/btnbg75x25.png' );*/
	background-repeat: no-repeat;
	background-position: center;
	color: #FFFFFF;
	cursor: pointer;
	font-weight: bold;
	background-color:GrayText;
	font-family: Calibri;
	font-size: 14px;
	height: 26px;	
    width:120px;
}

 .textboxStyle {
    /*background: url('images/email_icon.png') no-repeat scroll right center #ccc;*/
     background: white;
    border: 1px solid #DDD;
    border-radius: 5px;
    box-shadow: 0 0 5px #DDD inset;
    color: #666;
    float: left;
    padding: 5px 10px;
    width: 120px;
    outline: none;
}


 .label {

font-weight: bold;
display: block;
width: 150px;
float: left;
}


/* New Grid*/

.Grid { border: solid 2px #57A957; }
 .Grid td
 {
 border: solid 1px #57A957;
 margin: 1px 1px 1px 1px;
 padding: 1px 1px 1px 1px;
 text-align: center;
 }
 .GridHeader
 {
 font-weight: bold;
 background-color: #57A957;
 color:white;
 height:40px;
 
 }
 .GridItem
 {
 background-color: #e6e6e6;
 }
 
.GridAltItem
 {
 background-color: white;
 }


