<?xml version="1.0"?>
<configuration>

  <location path="Register.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <system.web>
    <authorization>
      <deny users="?"/>
    </authorization>
  </system.web>
  <connectionStrings>
    <add name="Connection String" connectionString="data source=10.252.5.157;User Id=sa;Password=password-1;Initial Catalog=SampleWorks" providerName="System.Data.SqlClient"/>
    <!--<add name="Connection String" connectionString="data source=PC145039;User Id=sa;Password=password@1;Initial Catalog=Capmon"  
			 providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>
