body {
}

/* Accordion */

.menuaccordionHeader
{
    border: 1px solid #2F4F4F;
   
    background-color: #1d2c1b;
	font-family: Tahoma;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
    padding: 5px;
    margin-top: 0px;
    cursor: pointer;
    text-align:center;
    text-decoration:none;
}

.accordionHeader
{
    border: 1px solid #2F4F4F;
   
    background-color: #1d2c1b;
	font-family: Tahoma;
	font-size: 13px;
	font-weight: bold;
	color: #FFFFFF;
    padding: 5px;
    margin-top: 0px;
    cursor: pointer;
    text-align:left;
    text-decoration:none;
}

#master_content .accordionHeader a
{
	color: #FFFFFF;
	background: none;
	text-decoration: none;
}

#master_content .accordionHeader a:hover
{
	background: none;
	text-decoration: underline;
}

.accordionHeaderSelected
{
    border: 1px solid #2F4F4F;
    color: #FFFFFF;
    background-color: #1d2c1b;
	font-family: Tahoma;
	font-size: 13px;
	font-weight: bold;
    padding: 5px;
    margin-top: 0px;
    cursor: pointer;
}

#master_content .accordionHeaderSelected a
{
	color: Gray;
	background: none;
	text-decoration: none;
}

#master_content .accordionHeaderSelected a:hover
{
	background: none;
	text-decoration: underline;
}

.accordionContent
{
    background-color: #FBF4D8;
    border: 1px dashed #2F4F4F;
    border-top: none;
    padding: 5px;
    padding-top: 10px;
}
.accordionLink{
 color: #fff;
 font-family: tahoma;
	font-size: 13px;
	font-weight: bold;
	 text-decoration:none;
}


/* validatorCallout */
.validatorCalloutHighlight
{
    background-color: lemonchiffon;
}

/*modalpopup extender*/

.modalBackground {
	background-color:Gray;
	filter:alpha(opacity=70);
	opacity:0.7;
}

.modalPopup {
	background-color:#ffffdd;
	border-width:3px;
	border-style:solid;
	border-color:Gray;
	padding:3px;
	width:250px;
}